@model ClerkProfileVM
@{
    ViewData["Title"] = "cityUsers";
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


<h5 style="margin: 1vw;">مدينة: @Model.clerk.city
    <hr>
</h5>



<div class="container-fluid" style="direction: rtl;">

    <div style="margin-bottom: 1vw;">

     <a class="btn btn-success" asp-controller="Reports" asp-action="CityUsersExel" asp-route-id="@Model.clerk.city" style="margin-right: 1vw;">
           <i class="bi bi-filetype-xls" style="font-size: 2rem;"></i>
            </a> 
    <p>
        تصدير الى xlsx
    </p>
</div>
<hr>

   <table class="table table-striped table-hover" id="exampleA">
        <thead>
            <tr> 
                <th >الاسم</th>
                <th>رقم الهوية</th>
                <th>رقم الجوال</th>
                <th>العنوان</th>
                <th>النقاط</th>
                <th>
                     <a class="btn btn-info" asp-controller="Register" asp-action="register">اضافة</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>@item.fullName</td>
                    <td>@item.id</td>
                    <td>@item.phone</td>
                    <td>@item.fullAddress</td>
                    <td>@item.points</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Clerk" asp-action="Review" asp-route-id="@item.id">مراجعة</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="m">

</div>

@section Scripts{
    <script>
         new DataTable('#exampleA');

    </script>
}

