@model List<Clerk> 

@{
    ViewData["Title"] = "AllClerks";
}




@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@* <div id="return-button"> 
    <a asp-action="Index" asp-controller="Admin" class="btn btn-success"><i class="bi bi-arrow-left"></i></a>
</div> *@
<div class="container-fluid"style="margin-bottom:20vw">


<div class="row">
    <div class="col-xs-12 col-sm-1"></div>
 
    <div class="col-xs-12 col-sm-4">
        <div class="page-header">
            <h6 class="head" style="padding-top: 0.5vw;">قائمة  المشرفين</h6>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-4">
        <div style="margin-bottom: 1vw;margin-top:1vw">
            <a class="btn btn-success" asp-controller="Reports" asp-action="ClerksExel">
                <i class="bi bi-filetype-xls" style="font-size: 2rem;"></i>
            </a> 
            <p>
                تصدير الى xlsx
            </p>
        </div>    
    </div>
</div>


   <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
         <div class="table-responsive">
                
             <div class="col-md-12 col-xs-12"> 

   <table class="table table-striped table-hover" id="examplec">
        <thead>
            <tr> 
                <th style="text-align: right;">الاسم</th>
                <th style="text-align: right;">رقم الهوية</th>
                <tH style="text-align: right;">كلمة المرور</th>  
                <th style="text-align: right;">رقم الجوال</th>
                <th style="text-align: right;">المدينة</th>
               
                <th style="text-align: right;">
                     <a class="btn btn-info" asp-controller="Admin" asp-action="AddClerk">اضافة مشرف</a>
                </th>
                <th style="text-align: right;">
                 <a class="btn btn-info" asp-action="ChangePassword" asp-controller="Clerk">تعديل حساب مشرف </a>
               </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.Id</td>
                    <td>@item.password</td>    
                     <td>@item.phone</td>  
                    <td>@item.city</td>
                    
                    <td>
                        <a class="btn btn-warning" asp-controller="Clerk" asp-action="ClerkProfil" asp-route-id="@item.Id">قائمة المستفيدين </a>
                    </td>
                    
                    <td>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="RemoveClerk" asp-route-id="@item.Id">حذف</a>
                    </td>
                     <th></th>

                </tr>
            }
        </tbody>
    </table>
</div>
         </div>
    </div>
   </div>

</div>

<div class="m">

</div>

@section Scripts{

    <script>
          @* new DataTable('#examplec'); *@

    </script>
}


  