
@model List<User>
@{
    ViewData["Title"] = "cityUsers";
}


@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}


 <form asp-action="Upload" asp-controller="Repot"  class="mt-4" method="post" enctype="multipart/form-data">

<div>
      <div class="form-group">
            <label for="city">اختر مدينتك</label>
            <select class="form-control" id="city" required>
                <option value=""></option>
            </select>
         </div>
</div>
  <button type="submit" class="btn btn-primary">تسجيل</button>
  </form>

@if(Model!=null)
{


<div class="container-fluid" style="direction: rtl;">
   <table class="table table-striped table-hover" id="exampleb">
        <thead>
            <tr> 
                <th >الاسم</th>
                <th>رقم الهوية</th>
                <th>رقم الجوال</th>
                <th>العنوان</th>
                <th>النقاط</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.fullName</td>
                    <td>@item.id</td>
                    <td>@item.phone</td>
                    <td>@item.fullAddress</td>
                    <td>@item.points</td>
                    <td>
                        <a class="btn btn-warning" asp-controller="Clerk" asp-action="Review" asp-route-id="@item.id">مراجعة</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="m">

</div>

}
else 
{
    

<div class="container-fluid" style="direction: rtl;">
   <table class="table table-striped table-hover" id="exampleb">
        <thead>
            <tr> 
                <th >الاسم</th>
                <th>رقم الهوية</th>
                <th>رقم الجوال</th>
                <th>العنوان</th>
                <th>النقاط</th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>

<div class="m">

</div>
}




@section Scripts{
    <script>
         new DataTable('#exampleb');
var cities =  [ 
    "مدن اخرى", "الاردن", "حائل", "القصيم", "الرياض" 
  ];


var cityDropdown = document.getElementById("city");

    for (var i = 0; i < cities.length; i++) {
        var option = document.createElement("option");
        option.value = cities[i];
        option.text = cities[i];
        cityDropdown.appendChild(option);
    }

    </script>
}

