@model User 

@{
    ViewData["Title"] =@Model.fullName ;
}

@if (TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
@if (TempData.ContainsKey("Success"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
    </div>
}



<div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

        <div class="row">
            <div class="col-sm-3"> 
                     <h4>البيانات الشخصية</h4>
            </div>

           <div class="col-sm-3">
             <h4 class="mt-5"> @Model.fullName</h4>
           </div> 
           <div class="col-sm-2"></div>


           <div class="col-sm-3">
            <h4 class="mt-5" style="margin-right:2vw;"> @Model.city</h4>
           </div>


        
        </div>
       

       
        <div class="section">
                 @* الهوية الشخصية صورة*@
                <div class="row">


                  <div class="col-sm-5" >
                     <form asp-action="UpdateIdImage" asp-controller="UpdateImages"  class="mt-4" method="post" enctype="multipart/form-data">

             <div class="form-group ">
                <label>  الهوية الشخصية: <span class="text-danger">*</span></label>
               <div class="image-preview" id="idImagePreview">
                <img src=@Model.id_image alt="" class="image-preview__image">
                <span class="image-preview__default-text"> </span>
             </div>

            <input type="file" id="id_image"  asp-for="id_image"  onchange="previewImage('id_image','idImagePreview','@Model.id_image ')"  name="id_image"  class="form-control  form-control-sm" accept="image/*" />
             </div>
               <button class="btn btn-warning btn-sm" type="submit" style="margin-top:0.5vw">تحديث</button>
            </form>
              </div>
            
              <div class="col-sm-1"></div>
            @*صورة  بطاقة العائلة  *@
            <div class="col-sm-5">
             <form asp-action="UpdateFamilyImg" asp-controller="UpdateImages"  class="mt-4" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label> بطاقة العائلة: <span class="text-danger">*</span> </label>
             <div class="image-preview" id="FamilyImagePreview">
                <img src="@Model.family_card_image" alt="" class="image-preview__image">
                <span class="image-preview__default-text"> </span>
             </div>
                <input type="file" id="family_card_image" asp-for="family_card_image"  value="بطاقة العائلة"
                onchange="previewImage('family_card_image','FamilyImagePreview','@Model.family_card_image')" name="family_card_image" class="form-control  form-control-sm" accept="image/*" >

            </div>
             <button class="btn btn-warning btn-sm" type="submit" style="margin-top:0.5vw">تحديث</button>
            </form>
            </div>
            </div>
        </div>

        <form asp-action="UpdatePersonslData" asp-controller="Register"  class="mt-4" method="post" enctype="multipart/form-data">
         
     <div id="personalData" class="section" >
         <div class="row">
            <div class="col-sm-8">
            <div class="form-group">
                <label>الاسم رباعي: <span class="text-danger">*</span></label>
                <input type="text" name="fullName" asp-for="fullName" class="form-control" required>
            </div>
            </div>

            <div class="col-sm-4">
             <div class="form-group">
                <label>تاريخ الميلاد: <span class="text-danger">*</span> </label>
                <input type="date" asp-for="birthDate" name="birthDate" class="form-control" required>
            </div>
            </div>
            </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                        <label>رقم الهوية : <span class="text-danger">*</span></label>
                        <input type="number" asp-for="id"  name="id" class="form-control" required>
                    <span asp-validation-for="id" class="text-danger"></span>


            </div>
            </div>

            <div class="col-sm-4">
                   <div class="form-group">
                <label>رقم الجوال: <span class="text-danger">*</span></label>
                <div class="input-group">
                  
                    <input type="number" asp-for="phone" name="phone" class="form-control" required>
                      <span asp-validation-for="phone" class="text-danger"></span>
                        <span class="input-group-text">+966</span>

                </div>
            </div>
            </div>

         </div>

          <div class="form-group">
                <label>العنوان بالكامل: <span class="text-danger">*</span> </label>
                <input type="text" name="fullAddress" asp-for="fullAddress" class="form-control" required>
                        <span asp-validation-for="fullAddress" class="text-danger"></span>

            </div>
            @* <div class="form-group">
                <label>المدينة: <span class="text-danger">*</span> </label>
                <input type="text" name="city" asp-for="city" class="form-control" required>
            </div> *@
            <div class="form-group">
            <label for="city"> المدينة</label>
            <select class="form-control" asp-for="city" id="city">
                <option value="@Model.city">@Model.city</option>
            </select>
          </div>

            <div class="row">
                <div class="col-sm-8">

                <div class="form-group">
                    <label>رقم الحساب البنكي (الراجحي فقط): <span class="text-danger">*</span></label>
                    <input type="number" name="bank_account_number"  pattern="[0-9]{10}" oninput="restrictInputToTenDigits(this)" maxlength="16" asp-for="bank_account_number" class="form-control">
                                      <span asp-validation-for="bank_account_number" class="text-danger"></span>
                </div>

                </div>
                <div class="col-sm-4">

                <div class="form-group" >
                <label> عدد الأبناء؟ <span class="text-danger">*</span></label>
                <select name="children_count" asp-for="children_count" class="form-control">
                    <option value='1' >1</option>
                    <option value='2' >2</option>
                    <option value='3' >3</option>
                    <option value='4' >4</option>
                    <option value='5' >أكثر من 4</option>
                </select>
                 </div>
                </div>

            </div>
        


<!-- هل لديك دخل أو مساعدات دورية أو ضمان اجتماعي؟ -->

                <h4>الحلة الاجتماعية</h4>
            <div class="form-group">
                <label>هل لديك دخل أو مساعدات دورية أو ضمان اجتماعي؟ <span class="text-danger">*</span> </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="income_support" id="income_support_yes" type="radio" name="income_support" value="true" required>
                    <label for="income_support_yes" class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input"  asp-for="income_support" id="income_support_No" type="radio" name="income_support" value="false" required>
                    <label for="income_support_No" class="form-check-label">لا</label>
                </div>
            </div>

            
            <!-- هل يوجد أرملة أو مطلقة؟ -->
            
            <div class="form-group">
                <label>هل يوجد أرملة أو مطلقة؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" asp-for="widow" name="widow" value="true">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio"  asp-for="widow" name="widow" value="false">
                    <label class="form-check-label">لا</label>
                </div>
            </div>

            <!-- هل يوجد كبير سن (فوق 60)؟ -->
            <div class="form-group">
                <label>هل يوجد كبير سن (فوق 60)؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="elderly" type="radio" name="elderly" value="true">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="elderly" type="radio" name="elderly" value="false">
                    <label class="form-check-label">لا</label>
                </div>
            </div>
              

                <!-- هل يوجد شخص يستلم المساعدة بالنيابة؟ -->
            <div class="form-group" id="proxy">
                <label>هل يوجد شخص يستلم المساعدة بالنيابة؟ </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="showSection('proxy-section')" asp-for="proxy" type="radio"  value="true">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="hideSection('proxy-section')" asp-for="proxy" type="radio"  value="false">
                    <label class="form-check-label">لا</label>
                </div>
                @if(Model.proxy != null)
                {
                    <div id="proxy-section" >
                        <div>
                        <label>الاسم:</label>
                        <input type="text" asp-for="_proxy_name" class="form-control">
                        </div>

                        <div>
                            <label>رقم الحساب:</label>
                        <input type="text" asp-for="_proxy_account_number" maxlength="16" class="form-control">
                            <span asp-validation-for="_proxy_account_number" class="text-danger"></span>

                        </div>

                    </div>
                }

            </div>

             <button class="btn btn-warning btn-sm" type="submit" style="margin-top:0.5vw">تحديث</button>
          
            </form>
        </div>
         



         
        

          


            <div class="section" >
            <!-- هل يوجد حالة إعاقة أو لأحد عائلتك؟ -->
            <form asp-action="UpdateDisiability" asp-controller="UpdateImages"  class="mt-4" method="post" enctype="multipart/form-data">
               
            <div class="form-group" required>
                <label>هل يوجد حالة إعاقة أو لأحد عائلتك؟ <span class="text-danger">*</span> </label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="showSection('disiability-section')" asp-for="disability" id="disability_Yes" type="radio" name="disability" value="true">
                    <label for="disability_Yes" class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="hideSection('disiability-section')" asp-for="disability" id="disability_No" type="radio" name="disability" value="false">
                    <label for="disability_No" class="form-check-label">لا</label>
                </div>

                     @* صورة اثبات الاعاقة *@

                
                        <div id="disiability-section" >
                        <div class="image-preview" id="disability_image_preview">
                        <img src="@Model.disability_proof" alt="" class="image-preview__image">
                        <span class="image-preview__default-text">اثبات الاعاقة</span>
                        </div>
                        <div class="col-sm-5" >
                            <input class="form-control mt-2" type="file" asp-for="disability_proof"  id="disability_proof" onchange="previewImage('disability_proof','disability_image_preview','@Model.disability_proof')"  name="disability_proof" accept="image/*">
                        </div>
                        
                    </div>
                

            </div>
             <button class="btn btn-warning btn-sm" type="submit" style="margin-top:0.5vw">تحديث</button>
          </form>

                <form asp-action="UpdateDebtImg" asp-controller="UpdateImages"  class="mt-4" method="post" enctype="multipart/form-data">
            <!-- هل يوجد دين؟ -->
            <div class="form-group">
                <label>هل يوجد دين؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="debt" onchange="showSection('debt-section')" type="radio" name="debt" value="true">
                    <label class="form-check-label">نعم</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="debt" onchange="hideSection('debt-section')" type="radio" name="debt" value="false">
                    <label class="form-check-label">لا</label>
                </div>
                @* اثبات الدين *@

               
                    <div id="debt-section" class="col-sm-5">
                    <div class="image-preview" id="debt_image_preview">
                    <img src="@Model.debt_proof" alt="" class="image-preview__image">
                    <span class="image-preview__default-text"> اثبات الدين </span>
                    </div>
                    <input class="form-control mt-2" asp-for="debt_proof" onchange="previewImage('debt_proof','debt_image_preview','@Model.debt_proof')" id="debt_proof" type="file" name="debt_proof" accept="image/*">

                  </div>
                

            </div>
             <button class="btn btn-warning btn-sm" type="submit" style="margin-top:0.5vw">تحديث</button>
          </form>


           <form asp-action="UpdateRentImg" asp-controller="UpdateImages"  class="mt-4" method="post" enctype="multipart/form-data">
            <!-- هل السكن ملك أو ايجار؟ -->
            <div class="form-group">
                <label>هل السكن ملك أو ايجار؟ <span class="text-danger">*</span></label><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="showSection('rent-section')" asp-for="house_rent" type="radio"  value="true">
                    <label class="form-check-label">ايجار</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" onchange="hideSection('rent-section')" asp-for="house_rent" type="radio" value="false">
                    <label class="form-check-label">ملك</label>
                </div>
                @* اثبات الايجار *@

               
                    <div id="rent-section" class="col-sm-5">
                        <div class="image-preview" id="rentImagePreview">
                        <img src="@Model.rent_proof" alt="" class="image-preview__image">
                        <span class="image-preview__default-text">اثبات الايجار </span>
                        </div>
                        <input class="form-control mt-2" asp-for="rent_proof" type="file" onchange="previewImage('rent_proof','rentImagePreview','@Model.rent_proof')" id="rent_proof" name="rent_proof" accept="image/*">

                    </div>
                

            </div>
            <button class="btn btn-warning btn-sm" type="submit" style="margin-top:0.5vw">تحديث</button>
          </form>

            </div>

          

            @* <button type="submit" class="btn btn-primary">تسجيل</button> *@
        @* </form> *@
             

              
            </div>
        <div class="col-sm-2"></div>

    </div>

    @section Scripts
    {
        <script>

            @* id_image *@
      



       function previewImage(inputId, previewImageId, imageUrl) {
    const inputElement = document.getElementById(inputId);
    const previewElement = document.getElementById(previewImageId);
    const image = previewElement.querySelector(".image-preview__image");
    const default_text = previewElement.querySelector(".image-preview__default-text");

    const fileInput = inputElement;
    const file = fileInput.files[0];

    if (file) {
        const reader = new FileReader();

        default_text.style.display = "none";
        image.style.display = "block";

        reader.addEventListener("load", function() {
            image.setAttribute("src", this.result);
        });

        reader.readAsDataURL(file);
    } else {
        image.setAttribute("src", imageUrl); // Set the image URL
        default_text.style.display = "none";
        image.style.display = "block";
    }
}

     @* let proxySection = false; *@
     @* let elments = document.getElementsByName("form-check form-check-inline") *@


 
        function showSection(id)
        {
            const Element = document.getElementById(id);
            Element.style.display ="block";
        }

        function hideSection(id)
        {
            const Element = document.getElementById(id);
            Element.style.display ="none";
        
        }



var cities =  [ 
    "أبها", "الأحساء", "الباحة", "الدمام", "الرياض", "الزلفي", "الخبر", "الخرج", "الخفجي", "الجبيل", "الجوف", "الحائط", "الحبيل", "الحوية", "الدرعية", "الدوادمي", "الدومة الجندل", "الظهران",
      "العلا", "العيون", "الغاط", "الفريش", "القريات", "القطيف", "القويعية", "المجمعة", "المذنب", "المدينة المنورة", "المزاحمية", "المبرز", "المخواة", "النعيرية", "النماص", "الهفوف", "الوجه", 
      "بيشة", "تبوك", "تاروت", "جازان", "جدة", "حائل", "خميس مشيط", "رفحاء", "رأس تنورة", "رياض الخبراء", "ساجر", "سكاكا", "سيهات", "شرورة", "شقراء", "ضباء", "طريف", "ظهران الجنوب", "عرعر",
      "عفيف", "عنيزة", "غرناطة", "فيفاء", "قلوة", "قيصومة", "كفر الدوار", "مكة المكرمة", "محايل عسير", "مرات", "مراكز الجودة", "مزارع الشريفة", "مستورة", "مطوفة", "محمد بن عبدالوهاب", "نجران", 
      "نجوى", "نجوى ورغداء", "نخيل", "نمرة", "نفي", "نيابة", "هدا الشام", "هيئة", "هيئة الاتصالات وتقنية المعلومات", "وادي الدواسر", "وادي الريان", "وادي الشريعة", "وادي الفرع"
  ];

var cityDropdown = document.getElementById("city");

    for (var i = 0; i < cities.length; i++) {
        var option = document.createElement("option");
        option.value = cities[i];
        option.text = cities[i];
        cityDropdown.appendChild(option);
    }




@*        
  document.addEventListener("DOMContentLoaded", function() {
    let proxy = document.getElementById("proxy");
    let proxyRadio = proxySection.querySelector("form-check-input");
    let proxySection =  document.getElementById('proxy-section');
    if(proxyRadio.value === "true")
     proxySection.style.display = "block";

    let rentSection = document.getElementById("rent-section");
    let rentRadio = rentSection.querySelector("form-check-input");
    if(rentRadio.value=== "true")
    rentSection.style.display = "block";

    let debtSection = document.getElementById("debt-section");
    let debtRadio = debtSection.querySelector("form-check-input");
    if(debtRadio.value=== "true")
    debtSection.style.display = "block";

    let disiabilitySection = document.getElementById("disiability-section");
    let disiabilityRadio = disiabilitySection.querySelector("form-check-input");
    if(disiabilityRadio.value=== "true")
    disiabilitySection.style.display = "block"; *@


});
       






        </script>


    }

    