
@model List<PayMent> 
@{
    ViewData["Title"] = "Index";
}


<div class="container" style="margin-top: 1vw; margin-bottom:15vw">

@* <div class="row"> 
 <div class="col-sm-1">
    
<div style="margin-bottom: 1vw;" >
  <a class="btn btn-success" asp-controller="Reports" asp-action="AllSupportsExcel" style="margin-right: 1vw;">
           <i class="bi bi-filetype-xls" style="font-size: 2rem;"></i>
            </a> 
     <p>
        تصدير الى xlsx
    </p>
</div>    
 </div> *@

<div class="col-sm-9">

    @foreach(var item in Model)
    {

    
        <div class="card text-right" style="margin-bottom: 1vw;margin-top:1vw">
        <div class="card-header" >


         @item.createDate.ToString("dd/MM/yyyy") - تقرير دفعة مالية   
        </div>
        <div class="card-body">
            <h5 class="card-title"> دفعات مالية بتاريخ@*<mark style="background-color: yellow;" >*@  <span  class="badge badge-success badge-xl"> @item.createDate.ToString("dd/MM/yyyy hh:mm tt")  </span> </h5>
             <p class="card-text">عدد المستفيدين @item.acceptedsCount </p>
             <p class="card-text"> قيمة التبرع  <mark style="font-size: large;background-color: orange; ">@item.income ر.س</mark> </p>
             @* <p class="card-text">رقم الهاتف: @item.</p>
             <p class="card-text">العنوان : @item.fullAddress</p>  *@

            <a class="btn btn-danger" asp-controller="Reports" asp-action="SupportPdfReportByPayment" asp-route-id="@item.Id"> 
            <i class="bi bi-file-earmark-pdf-fill"   style="font-size: 2rem;"></i>
            </a> 

            <a class="btn btn-success" asp-controller="Reports" asp-action="AllSupportsExcelByPayment" asp-route-id="@item.Id" style="margin-right: 1vw;">
           <i class="bi bi-filetype-xls" style="font-size: 2rem;"></i>
            </a> 

              <a class="btn btn-primary"  asp-controller="Reports" asp-action="GetSupportsByPaymentId" asp-route-id="@item.Id" style="margin-right: 1vw;">
                تفاصيل الدفعات
            </a> 

        </div>
        <div class="card-footer text-muted" >
            @* @item.createDate *@
              @String.Format("{0:dd/MM/yyyy}", item.createDate)   <span style="margin-right: 20vw;"> @String.Format("{0:hh:mm tt}", item.createDate)</span>    

           @* @item.ؤث تم الموافقة بتاريخ:  *@
        </div>
        </div>
    }


</div>




</div>
